langchain
langchain-community
llama-parse
langchain-nomic
langchain-ollama
scikit-learn
chromadb
python-dotenv
chainlit
fastembed
streamlit
ollama
langchain-core
langchain_text_splitters
unstructured
unstructured[md]
unstructured[all-docs]
onnx==1.17.0